# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/

# Notebook
.ipynb_checkpoints/

# Project outputs
outputs/
logs/
data/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
